<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- ENTER STYLESHEETS HERE -->
    <title>{{ _target.title }} | [ENTER PROJECT NAME] UI Component Library</title>
    <link media="all" rel="stylesheet" href="{{ '/css/app.css'|path }}">
</head>
<body class="js no-touch preview">

    {{ yield }}

    <!-- ENTER SCRIPTS HERE -->
    <script src="{{ '/js/app.js'|path }}"></script>
</body>
</html>
