.color {
  margin-bottom: 30px;

  span {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid black;
  }

  p {
    display: inline-block;
    vertical-align: middle;
  }
}
